@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-background);
  font-size: 1rem;
  color: var(--main-paragraph);
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
}

  

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.container_card {
  width: 20.62rem;
  height: 49.37rem;
  background-color: var(--card-background);
  border-radius: 0.5rem;
}

.pic-office  {
  width: auto;
  height: 15.31rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-size: cover;
  background-image: url("../pics/image-header-mobile.jpg");
  background-color: var(--accent);
  
  background-blend-mode: multiply;

  
}

.container_text {
  margin: 2.5rem 1.87rem 2.5rem 1.87rem;
}

.container_title {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  margin-bottom: 0.93rem;
}
.container_phrase {
  color: var(--stat-headings);
  font-family: 'Inter', sans-serif;
  font-size: 0.93rem;
  line-height: 1.56rem;
  font-weight: 400;
}

.accented_word {
  color: var(--accent);
}
.container_idicators {
  display: flex;
  flex-direction: column;
  row-gap: 1.87rem;
}
.indicators-names {
  color: var(--stat-headings);
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
}
.indicators-numbers {
  color: var(--main-heading-stats)
  font-family: 'Inter', sans-serif;
  font-size: 1.37rem;
  margin-bottom: 0.31rem;
}

@media only screen and (min-width: 1440px){

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    
  } 

  .container_card {
    width: 62.5rem;
    height: 26.18rem;
    background-color: var(--card-background);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    
    
  }

 .pic-office {
    width: 62.5rem;
    height: auto;
    background-image: url("../pics/image-header-desktop.jpg");
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    
  }
  .container_text {
    margin: 4.37rem 6.87rem 1.87rem 4.06rem;
  }

  .container_idicators {
    display: flex;
    flex-direction: row;
    margin: 5rem 8.43rem 2.18rem 4.06rem;  
    justify-content: space-between;
  }
    

}






  
